body {
    background-color: #002028; 
    position: relative;
    text-align: center;
}
.container{
    position: relative;
    top: 100px;
}
h1 {
    color: pink; 
    position: relative;
    text-align: center;
}

button {
    background-color: pink;
    color: #002028; 
    height: 30px;
    position: relative;
    text-align: center;
    left: 30px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(222, 95, 116);
}
input{
    font-style: italic;
    height: 25px;
    position: relative;
    text-align: center;
    border: 1px solid pink; 
    background-color: #002028; 
    color: pink; 
}
p{
    color: pink;
    font-size: larger;
    position: relative;
    text-align: center;
}